<h1><%= @task.name %></h1>
<h3><%= @task.description %></h3>
<h3><%= @task.created_at%></h3>
<h3><%= link_to "View All", tasks_path %></h3>




<!-- display: name, description, date of creation and link to index page -->

